@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* [data-theme='dark'] {
  --tw-bg-opacity: 1;
  background-color: rgb(33 34 34 / var(--tw-bg-opacity));
  color: rgb(33 34 34);
  color: white;
} */

:root {
  --primary: 141 110 235;
  --ui-base: 253 253 253;
  --ui-secondary: 245 245 245;
  --ui-accent: 244 245 248;
  --text-color: 34 34 34;
  --text-muted: 75 85 99;
  --border-color: 229 231 235;
}
[data-theme="dark"] {
  --ui-base: 10 12 30; /* 18 18 18; */
  --ui-secondary: 28 28 28;
  --ui-accent: 42 42 46;
  --text-color: 255 255 255;
  --text-muted: 156 163 175;
  --border-color: 55 65 81;
}

@layer base{
  html,
  body {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #8d6eeb transparent;
    overflow: hidden;
    overflow-y: auto;
    @apply bg-base text-tcolor font-Roboto;
  }
}

/* @media (min-width: 320px) and (max-width: 480px) {
  .sidebar:h1 {
   visibility: hidden;
  }
} */